@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .img-shadow {
    width: 250px;
    -webkit-filter: drop-shadow(5px 10px 5px #090a01e2);
    filter: drop-shadow(3px 5px 3px #5a43dce2);
  }
  
  .img-shadow {
    width: 250px;
    -webkit-filter: drop-shadow(5px 10px 5px #28281487);
    filter: drop-shadow(5px 10px 5px #28281487);
  }
  
  .dark .simplebar-scrollbar::before {
    background-color: white;
  }
  
  /* .dark .three-d {
    text-shadow: 0px 5px 0px #533519;
  }
  .three-d {
    text-shadow: none;
  } */

  .gradiant1-text {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradiant1-bg {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }


  .gradiant1-border {
    border: 3px solid transparent;
  border-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  border-image-slice: 1;
  }
